{% extends 'base.html.twig' %}

{% block body %}
<img src="back.jpg" alt="back.jpg" class="img-fluid">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% set first = true %}
        {% for last in lastTools %}     
        <div class="carousel-item {% if first %}active{% endif %}">
        <img src="/uploads/{{ last.mainPic }}" class="d-block w-100" alt="...">
        </div>
        {% set first = false %}
        {% endfor %}
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only bg-secondary">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only bg-secondary">Next</span>
    </a>
</div>
{% endblock %}
