{% extends "base.html.twig" %}

{% block body %}

<h1>Mes Outils</h1>
    {% for tool in ownedTools %}
        <div>
            <a href="/borrow/{{ tool.id }}">{{ tool.name }}</a>
            <a href="edit/{{ tool.id }}">edit</a>
        </div>
    {% endfor %}
{% endblock %}