body {
    background-color: rgb(216, 226, 230);
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.icon {
    width: 1.8em;
    height: 1.8em;
}

.miniIcon {
    width: 1em;
    height: 1em;
}

.card {
    max-width: 30em;
}